POSTGRES_PASSWORD=votre_password_postgres
DATABASE_URL=lien_vers_la_bdd
APP_ENV=dev
APP_SECRET=votre_cle_de_chiffrement
DEFAULT_URI=http://localhost
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=ta_passphrase_secrete

# Après avoir récupérer le projet à jour, bien penser à executer la commande
# docker compose exec backend php bin/console lexik:jwt:generate-keypair
# pour générer votre vos 2 clés de chiffrements et vérifier qu'elles sont bien présentes dans le dossier Overkill_Api/config/jwt/
# Enfin, vérifier que les 2 fichiers .pem générés sont bien présents dans .gitignore
